{% extends "base/api-iterate.html" %}

{% block title %}vurls listing{% endblock %}

{% block heading %}vurls listing{% endblock %}

{% block listing_per_hash %}
<div class="listvurl {% cycle 'odd' 'even' %}">

<h4>{{hash.vurlName}}</h4>

{% include 'widget/action2-vurl.html' %}

<ul class="listmeta">
<li>type: {% if hash.vurlIsTemporaryRedirect %}temporary{% else %}permanent{% endif %}</li>
<li>short link: {{hash.vurlPathShort}}</li>
<li>named link: {{hash.vurlPathLong}}</li>
<li>original url: {{hash.vurlLink}}</li>
</ul>

</div>
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/vurls.html" %}
{% include "sidebar/vurl-search.html" %}
{% endblock %}
{% block nav_vurls %}id=current{% endblock %}
