{% extends "base/page.html" %}

{% block content %}

<h2>{% block heading %}generic heading{% endblock %}</h2>

{% if result %}
result: <br/>
<tt>
{% block for_results %}
<UL>{% for key, value in result.items %}<LI>{{key}}={{value}}</LI>{% endfor %}</UL>
{% endblock %}
</tt>
{% else %}
no result returned by API call
{% endif %}
<P/>

envelope:
<tt>
<UL>
<LI>exit: {{ exit }}</LI>
<LI>status: {{ status }}</LI>
<LI>totalsize: {{ totalsize }}</LI>
<LI>thissize: {{ thissize }}</LI>
<LI>prevurl: {{ prevurl }}</LI>
<LI>nexturl: {{ nexturl }}</LI>
<LI>thisurl: {{ thisurl }}</LI>
<LI>callback: {{ callback }}</LI>
<LI>watch: {{ watch }}</LI>
</UL>
</tt>
<P/>

{% endblock %} <!-- content -->
