{% extends "base/base.html" %}

{% block content %}
<span>result:</span> <P/>

{% if result %}
<tt>
{% block api_result %} no block api_result defined {% endblock %}
</tt>
{% else %}
no result returned by API call
{% endif %}
<P/>

<span>envelope:</span> <P/>
<tt>
<UL>
<LI>exit: {{ exit }}</LI>
<LI>status: {{ status }}</LI>
<LI>totalsize: {{ totalsize }}</LI>
<LI>thissize: {{ thissize }}</LI>
<LI>prevurl: {{ prevurl }}</LI>
<LI>nexturl: {{ nexturl }}</LI>
<LI>thisurl: {{ thisurl }}</LI>
<LI>callback: {{ callback }}</LI>
<LI>watch: {{ watch }}</LI>
</UL>
</tt>
<P/>

{% endblock %} <!-- content -->
