{% extends "base/base.html" %}

<!-- ------------------------------------------------------------------ -->

{% block title %}
generic title from base.html
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block html_header_extra %}
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block logo_title %}
pymine!
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block logo_intro %}
from The Mine! Project at themineproject.org
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block title_searchbox__DISABLED__ %}
<form id="quick-search" action="/" method="get">
<p>
<label for="qsearch">Search:</label>
<input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="/pub/kisp/images/search.gif" />
</p>
</form>
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block navigation %}
<ul>
<li id="current"><a href="/" title="Go Home !">Home</a></li>
<li><a href="/ui/dash/items.html" title="View and manage your store of Mine! items">Objects</a></li>
<li><a href="/ui/dash/relations.html" title="View and manage the feeds for your relationships">Relations</a></li>
<li><a href="/ui/dash/comments.html" title="View and manage comments and other feedback">Comments</a></li>
<li><a href="/ui/dash/tags.html" title="View and manage single word terms to search and retrieve your items">Tags</a></li>
<li><a href="/ui/dash/vurls.html" title="Virtual URLs for shortening (or lengthening) other addresses">Vurls</a></li>
</ul>
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block context_sidebar %}
<h3>your stuff</h3>
<ul>
<li><a href="/ui/list/items.html">list objects</a></li>
<li><a href="/ui/list/relations.html">list relations</a></li>
<li><a href="/ui/list/comments/0.html">list comments</a></li>
<li><a href="/ui/list/tags.html">list tags</a></li>
<li><a href="/ui/list/vurls.html">list vurls</a></li>
</ul>
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block static_sidebar %}
<h3>admin</h3>
<ul>
<li><a href="/" title="browse mine activity">activity logs</a></li>
<li><a href="/pub/" title="your mine's internal webserver">local files</a></li>
<li><a href="/ui/version.html" title="sortware revision">pymine version</a></li>
<li><a href="/admin/" title="django superuser backdoor">superuser</a></li>
<li><a href="/logout.html" title="disconnect from your mine">logout</a></li>
</ul>
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block links_sidebar %}
<h3>links</h3>
<ul>
<li><a href="http://themineproject.org/">the mine! project</a></li>
<li><a href="http://themineproject.org/about/">mine! videos</a></li>
<li><a href="http://themineproject.org/mine-papers/">mine! papers</a></li>
<li><a href="http://groups.google.com/group/themineproject">discussion maillist</a></li>
<li><a href="http://groups.google.com/group/themineproject-announce">announce maillist</a></li>
<li><a href="http://code.google.com/p/pymine/">pymine code repository</a></li>
</ul>
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block content %}
generic block content from base.html
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block content_error_status %}
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block footer_left %}
&copy;2009 The Mine! Project | pymine is free software under the Apache License, Version 2.0
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block footer_right %}
Template design based on KeepItSimple by: <a href="http://www.styleshout.com/">styleshout</a>
{% endblock %}

<!-- ------------------------------------------------------------------ -->

{% block envelope %}
{% endblock %}

<!-- ------------------------------------------------------------------ -->
