{% extends "base/page.html" %}
{% block content %}
<h2>{% block heading %}generic heading{% endblock %}</h2>
{% if result %}
{% block for_results %}
<ul>
{% for key, value in result.items %}<li>{{key}}: {{value}}</li>{% endfor %}
</ul>
{% endblock %}
{% else %}
no result returned by api call
{% endif %}

<div class="annotation">
envelope:
<ul>
<li>exit: {{ exit }}</li>
<li>status: {{ status }}</li>
<li>totalsize: {{ totalsize }}</li>
<li>thissize: {{ thissize }}</li>
<li>prevurl: {{ prevurl }}</li>
<li>nexturl: {{ nexturl }}</li>
<li>thisurl: {{ thisurl }}</li>
<li>callback: {{ callback }}</li>
<li>watch: {{ watch }}</li>
</ul>
</div>
{% endblock %} <!-- content -->
