{% extends "base/page.html" %}

{% block content %}

<h3>{% block heading %}generic heading{% endblock %}</h3>

{% if result %}
{% block listing_iterate_results %}
<ul>
{% for key, value in result.items %}<li>{{key}}: {{value}}</li>{% endfor %}
</ul>
{% endblock %} <!-- listing_iterate_results -->
{% else %}
no result returned by api call
{% endif %}
{% endblock %} <!-- content -->

{% block content_error_status %}
{% if exit %}
<p class="error">omg wtf bbq?</p>
{% else %}
<p class="success">yay it worked!</p>
{% endif %}
{% endblock %}

{% block envelope %}
<ul>
<li>exit: {{exit}}</li>
<li>status: {{status}}</li>
<li>totalsize: {{totalsize}}</li>
<li>thissize: {{thissize}}</li>
<li>prevurl: {{prevurl}}</li>
<li>nexturl: {{nexturl}}</li>
<li>thisurl: {{thisurl}}</li>
<li>callback: {{callback}}</li>
<li>watch: {{watch}}</li>
</ul>
</div>
{% endblock %} <!-- envelope -->
