<UL>
<LI>relationCallbackURL: {{ result.relationCallbackURL }}</LI>
<LI>relationCreated: {{ result.relationCreated }}</LI>
<LI>relationDescription: {{ result.relationDescription }}</LI>
<LI>relationEmailAddress: {{ result.relationEmailAddress }}</LI>
<LI>relationEmbargoAfter: {{ result.relationEmbargoAfter }}</LI>
<LI>relationEmbargoBefore: {{ result.relationEmbargoBefore }}</LI>
<LI>relationHomepageURL: {{ result.relationHomepageURL }}</LI>
<LI>relationId: {{ result.relationId }}</LI>
<LI>relationImageURL: {{ result.relationImageURL }}</LI>
<LI>relationInterests: {{ result.relationInterests }}</LI>
<LI>relationLastModified: {{ result.relationLastModified }}</LI>
<LI>relationName: {{ result.relationName }}</LI>
<LI>relationNetworkPattern: {{ result.relationNetworkPattern }}</LI>
<LI>relationVersion: {{ result.relationVersion }}</LI>
</UL>
