<UL>
<LI>itemCreated: {{ result.itemCreated }}</LI>
<LI>itemData: {{ result.itemData }}</LI>
<LI>itemDescription: {{ result.itemDescription }}</LI>
<LI>itemHideAfter: {{ result.itemHideAfter }}</LI>
<LI>itemHideBefore: {{ result.itemHideBefore }}</LI>
<LI>itemId: {{ result.itemId }}</LI>
<LI>itemLastModified: {{ result.itemLastModified }}</LI>
<LI>itemName: {{ result.itemName }}</LI>
<LI>itemStatus: {{ result.itemStatus }}</LI>
<LI>itemTags: {{ result.itemTags }}</LI>
<LI>itemType: {{ result.itemType }}</LI>
</UL>
