{% extends 'base/page.html' %}
{% block title %}delete relation{% endblock %}

{% block content %}
<h3>deleting relation {{ itemId }}</h3>
Please pick one of the following options:
<P>
<form method="post" action="/api/relation/{{ itemId }}.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/relations.html">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" name="save" value="yes! delete relation {{ itemId }}!" />
<A HREF="/ui/list/relations.html"><button>no! leave it alone!</button></A>
</form>
{% endblock %}
