<ul class="actions">
<li><A HREF="/api/data/{{wrapper_dict.item.itemId}}">open</A></li>
<li><A HREF="/ui/read/item/{{wrapper_dict.item.itemId}}.html">info</A></li>
<li><A HREF="/ui/update/item/{{wrapper_dict.item.itemId}}.html">edit</A></li>
<li><A HREF="/ui/delete/item/{{wrapper_dict.item.itemId}}.html">delete</A></li>
<li><A HREF="/ui/create/comment/{{wrapper_dict.item.itemId}}.html">new comment</A></li>
<li><A HREF="/ui/list/comments/{{wrapper_dict.item.itemId}}.html">list comments</A></li>
</ul>
