<ul class="actions">
<li><a href="/ui/read/comment/{{hash.commentId}}.html">info</a></li>
<li><a href="/ui/update/comment/{{hash.commentId}}.html">edit</a></li>
<li><a href="/ui/delete/comment/{{hash.commentId}}.html">delete</a></li>
<li><a href="/ui/read/feed/{{hash.commentFeedId}}.html">info feed {{hash.commentFeedId}}</a></li>
<li><a href="/ui/read/item/{{hash.commentItemId}}.html">info item {{hash.commentItemId}}</a></li>
<li><a href="/api/data/{{hash.commentItemId}}">open item {{hash.commentItemId}}</a></li>
</ul>
