<ul class="actions">
<li><a href="/ui/read/comment/{{wrapper_dict.comment.commentId}}.html">info</a></li>
<li><a href="/ui/update/comment/{{wrapper_dict.comment.commentId}}.html">edit</a></li>
<li><a href="/ui/delete/comment/{{wrapper_dict.comment.commentId}}.html">delete</a></li>
<li><a href="/ui/read/feed/{{wrapper_dict.comment.commentFromFeedId}}.html">info feed {{wrapper_dict.comment.commentFromFeed}}</a></li>
<li><a href="/ui/read/item/{{wrapper_dict.comment.commentUponItem}}.html">info item {{wrapper_dict.comment.commentUponItem}}</a></li>
<li><a href="/api/data/{{wrapper_dict.comment.commentUponItem}}">open item {{wrapper_dict.comment.commentUponItem}}</a></li>
</ul>
