<div class="widget">
{% for wrapper_dict in result|slice:":5" %}
<ul>
{% for object_type, object_values in wrapper_dict.items %}
<li>
<A HREF="/ui/update/feed/{{object_values.commentFromFeedId}}.html">{{object_values.commentFromFeed}}</A>
on
<A HREF="/api/data/{{object_values.commentUponItem}}">{{object_values.commentUponItemName|truncatewords:8}}</A>
|
<A HREF="/ui/read/item/{{object_values.commentUponItem}}.html">info</A>
|
<A HREF="/ui/update/item/{{object_values.commentUponItem}}.html">edit</A>
<br/>
<A HREF="/ui/update/comment/{{object_values.commentId}}.html">
{{object_values.commentTitle}} | {{object_values.commentBody|removetags:"a p"|truncatewords:10}}
</A>
</li>
{% endfor %}
</ul>
{% endfor %}
</div>
