<div class="widget">
10 most recently modified comments: <A HREF="/ui/list/comments/0.html">[list all]</A>
<p class="cloud">
{% for individual in result|slice:":10" %}
{% for type, hash in individual.items %}
<A HREF="/ui/update/relation/{{hash.commentRelationId}}.html">{{hash.commentRelationName}}</A>
on
<A HREF="/ui/update/item/{{hash.commentItemId}}.html">{{hash.commentItemName|truncatewords:8}}</A>
|
<A HREF="/ui/update/comment/{{hash.commentId}}.html">{{hash.commentTitle}}</A>
|
<A HREF="/ui/update/comment/{{hash.commentId}}.html">{{hash.commentBody|removetags:"a p"|truncatewords:10}}</A>
<br/>
{% endfor %}
{% endfor %}
</p>
</div>
