<div class="widget">
{% include 'widget/tinymce.html' %}
<form method="post" enctype="multipart/form-data" action="/api/tag.rdr">

<input type="hidden" name="redirect_success" value="/ui/list/tags.html">

new tag:
<br/>
<input name="tagName" value="" size="33" />
<p/>

implied tags: (space-separated, optional)
<br/>
<input name="tagImplies" value="" size="66">
<p/>

description: (optional)
<br/>
<textarea name="tagDescription" cols="80" rows="5">
</textarea>
<p/>

<input type="submit" name="save" value="create tag" />
<input type="reset" name="reset" value="reset form" />
</form>

</div>

