<div class="widget">
{% include 'widget/tinymce.html' %}
{% if itemId %}
<form method="POST" enctype="multipart/form-data" action="/api/comment/item/{{itemId}}.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/comments/{{itemId}}.html">
{% else %}
<!-- begin comment on feed/item 0, hardcoded -->
<form method="POST" enctype="multipart/form-data" action="/api/comment/item/0.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/comments/0.html">
<!-- end comment on feed/item 0, hardcoded -->
{% endif %}

comment title:
<br/>
<input name="commentTitle" value="" size="33" />
<br/>

comment body: (optional)
<br/>
<textarea name="commentBody" cols="66" rows="5"></textarea>
<br/>

relation id: (numeric)
<br/>
<input name="commentRelationId" value="" size="5">
<br/>

item id: (numeric)
<br/>
[cannot be set during creation, this is implicit in the destination URL for POST]
<br/>

<input type="submit" name="save" value="create comment" />
<input type="reset" name="reset" value="reset form" />
</form>
</div>
