<div class="widget">
{% include 'widget/tinymce.html' %}
<form method="POST" enctype="multipart/form-data" action="/api/item.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/items.html">

item title:
<br/>
<input name="itemName" value="" size="66" />
<p/>

file to attach: (optional)
<br/>
<input type="file" name="itemData">
<p/>

item text:
<br/>
<textarea name="itemDescription" cols="66" rows="15">
</textarea>
<p/>

item tags:
<br/>
<input name="itemTags" value="" size="66">
<br/>
<input type="checkbox" name="auto_tag" checked> create any tags that don't already exist
<p/>

publication status:
<br/>
<input type="radio" name="itemStatus" value="private" /> private
<input type="radio" name="itemStatus" value="shared" /> shared
<input type="radio" name="itemStatus" value="public" checked /> public
<p/>

<input type="submit" name="save" value="create item" />
<input type="reset" name="reset" value="reset form" />
</form>
</div>
