<div class="widget">
{% include 'widget/tinymce.html' %}
<form method="post" enctype="multipart/form-data" action="/api/relation.rdr">

<input type="hidden" name="redirect_success" value="/ui/list/relations.html">

new relation:
<br/>
<input name="relationName" value="" size="33" />
<p/>

description: (optional)
<br/>
<textarea name="relationDescription" cols="80" rows="5">
</textarea>
<p/>

relationship interests: (ie: tags, space-separated, optional)
<br/>
<input name="relationInterests" value="" size="66">
<p/>

<input type="submit" name="save" value="create relation" />
<input type="reset" name="reset" value="reset form" />
</form>

</div>

