<div class="widget">
update comment:
<br/>
{% include 'widget/tinymce.html' %}
<form method="POST" enctype="multipart/form-data" action="/api/comment/{{commentId}}.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/comments/0.html">

comment:
<br/>
<input name="commentTitle" value="{{commentTitle}}" size="33" />
<p/>

body: (optional)
<br/>
<textarea name="commentBody" cols="66" rows="5">{{commentBody}}</textarea>
<p/>

relation id: (numeric)
<br/>
<input name="commentRelationId" value="{{commentRelationId}}" size="5">
<p/>

item id: (numeric)
<br/>
<input name="commentItemId" value="{{commentItemId}}" size="5">
<p/>

<input type="submit" name="save" value="update comment" />
<input type="reset" name="reset" value="reset form" />
</form>

</div>

