{% extends 'base/page.html' %}
{% block title %}delete comment{% endblock %}

{% block content %}
<h3>deleting comment {{ itemId }}</h3>
Please pick one of the following options:
<P>
<form method="post" action="/api/comment/{{ itemId }}.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/comments.html">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" name="save" value="yes! delete comment {{ itemId }}!" />
<A HREF="/ui/list/comments.html"><button>no! leave it alone!</button></A>
</form>
{% endblock %}
