{% extends 'base/page.html' %}
{% block title %}delete tag{% endblock %}

{% block content %}
<h3>deleting tag {{ itemId }}</h3>
Please pick one of the following options:
<P>
<form method="post" action="/api/tag/{{ itemId }}.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/tags.html">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" name="save" value="yes! delete tag {{ itemId }}!" />
<A HREF="/ui/list/tags.html"><button>no! leave it alone!</button></A>
</form>
{% endblock %}
