{% extends 'base/page.html' %}

{% block title %}mine root{% endblock %}

{% block content %}
<h2>Welcome to pymine!</h2>
<p>This is your pymine installation - if you are seeing this, then everything has probably worked.</p>
<p>You probably want to upload some stuff.</p>
<p>Use the navigation bar at the top of this page to access <A HREF="/ui/dash/items.html">Items</A> 
and start uploading and tagging.</p>
<p>Then create some <A HREF="/ui/dash/relations.html">feeds for relationships</a> and start to share!</p>
{% endblock %} 

{% block nav_home %}id=current{% endblock %}
