{% extends "base/page.html" %}

{% block nav_relations %}id="current"{% endblock %}

{% block title %}pymine relations{% endblock %}

{% block heading %}relations{% endblock %}

{% block content %}
<h3>browse relations</h3>
<p>{% include 'widget/browse-relation.html' %}</p>

<h3>search relations</h3>
{% include 'widget/search-relation.html' %}

<h3>create a relation</h3>
{% include 'widget/create-relation.html' %}
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/relations.html" %}
{% endblock %}
