#envelope{display: block; background: #EBE0AF; opacity: 0.1; border-width: 0px 2px 2px; border-style: solid; border-color: white; position: absolute; top: 0px; right: 0px; z-index: 50; overflow: hidden; }

#envelope:hover {
  border-width: 0px 0px 2px 2px; width 200px; opacity: 1; border-color: black;
}


#left-columns{border-width: 0px 0px 0px 1px; border-color: #D3D3D3; border-style: solid;}


/* postmeta */
.success, .error {	
	padding: 5px; margin: 20px 15px 15px 10px;	
	border: 1px solid #D3D3D3;
	 color: #000
		
}

.success a, .error a { background: transparent; }
.success a:hover , .error a:hover { border: none; }

.success {background: #97F08F;}
.error {background: #FB505F;}


/* alternate row colouring for most API list calls */
.odd { background-color:#f4f4f4 }
.even {}

ul.listmeta {
	list-style-type: none;
}

ul.actions  {
	list-style-type: none;
}

ul.actions li {
	display: inline; 
        border-style: solid;
        border-width: 1px;
        margin: 1px;
        padding: 2px 3px;
}

 /* =ListItem
----------------------------------------------------------------------------- */
.listitem {margin-left: 25px; clear:both }
.listitem h4 {font-size: 1.2em;}
.listitem img {float: left; margin-right:10px; margin-left:30px}
.listitem.private {background-color:#ffeeee}
.listitem.shared {background-color:#ffffdd}
.listitem.public {background-color:#f4f4f4}

 /* =ListRelation
----------------------------------------------------------------------------- */
.listrelation {margin-left: 25px;}
.listrelation h4 {font-size: 1.2em;}

 /* =ListComment
----------------------------------------------------------------------------- */
.listcomment {margin-left: 25px;}
.listcomment h4 {font-size: 1.2em;}

 /* =ListTag
----------------------------------------------------------------------------- */
.listtag {margin-left: 25px;}
.listtag h4 {font-size: 1.2em;}

 /* =ListVurl
----------------------------------------------------------------------------- */
.listvurl {margin-left: 25px;}
.listvurl h4 {font-size: 1.2em;}


 /* =TagWidget (.ac stuff was existing in jquery.autocomplete)
----------------------------------------------------------------------------- */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

input.taglist,
.taglist-widget input.taglist {
	clear:both;
	display:block;
}
.taglist-widget ul,
.taglist-widget li {
	margin:0;
	padding:0;
	display:block;
}
.taglist-widget ul {
	margin-top:8px;
}
.taglist-widget li {
	float:left;
	border:solid 1px #CCC;
	padding:0 4px;
	margin:0 8px 8px 0;
	background:#EFFAE6;
}
.taglist-widget .implies {
	background:#CCF;
}
.taglist-widget .for {
	background:#CFC;
}
.taglist-widget .invalid {
	color:#F66;
	background:#FCC;
}
.taglist-widget .implies span {
	color:#999;
}

.ac_results .tag.cloud {
	color:#999;
}
.ac_results {
	text-align:left;
}

.taglist-widget li .remove {
	font-weight:bold;
	color:#C66;
	cursor:pointer;
}