<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<title>{% block title %}no title defined{% endblock %}</title>
</head>
<body>

<A HREF="/ui/">home</A> <P/>

{% block header %}
<span>envelope:</span> <P/>
<UL>
<LI>exit {{ exit }}</LI>
<LI>status {{ status }}</LI>
</UL>
<P/>
{% endblock %}

<span>result:</span> <P/>
{% if result %}
{% block content %}
no block content defined <P/>
{% endblock %}
{% else %}
no result returned by API call <P/>
{% endif %}

{% block footer %}
<!-- no footer defined -->
{% endblock %}

</body>
</html>
