<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<title>{% block title %}NO TITLE SUPPLIED IN TEMPLATE{% endblock %}</title>
</head>
<body>

<A HREF="/ui/">home</A> <P/>

{% block header %}
<span>envelope:</span>
<UL>
<LI>exit {{ exit }}</LI>
<LI>status {{ status }}</LI>
</UL>
<P/>
{% endblock %}

{% if result %}
<span>result:</span>
{% block content %}
no block content defined <P/>
{% endblock %}
{% else %}
no result returned by API call <P/>
{% endif %}

{% block footer %}
{% endblock %}

</body>
</html>
