<hr/> <p/>
developer boilerplate <p/>
<A NAME="listings" HREF="#listings">listings</a>
<UL>
<LI><A HREF="/ui/list-items.html">list items</A></LI>
<LI><A HREF="/ui/list-relations.html">list relations</A></LI>
<LI><A HREF="/ui/list-tags.html">list tags</A></LI>
<LI><A HREF="/ui/list-comments/0.html">list comments on all items</A></LI>
<LI><A HREF="/ui/list-comments/1.html">list comments on item 1</A></LI>
<LI><A HREF="/ui/version.html">version</A></LI>
</UL>
<A NAME="roots" HREF="#roots">roots</a>
<UL>
<LI><A HREF="/">mine root</A></LI>
<LI><A HREF="/api">mine api root</A></LI>
<LI><A HREF="/doc">mine doc root</A></LI>
<LI><A HREF="/get">mine get root</A></LI>
<LI><A HREF="/pub">mine pub root</A></LI>
<LI><A HREF="/archive">mine archive root</A></LI>
<LI><A HREF="/ui">mine ui root</A></LI>
</UL>
<A NAME="testing" HREF="#testing">testing</a>
<UL>
<LI><A HREF="/ui/create-comment/1.html">create-comment on item 1</A></LI>
<LI><A HREF="/ui/create-item.html">create-item</A></LI>
<LI><A HREF="/ui/create-relation.html">create-relation</A></LI>
<LI><A HREF="/ui/create-tag.html">create-tag</A></LI>
<LI><A HREF="/ui/delete-comment/1.html">delete-comment 1</A></LI>
<LI><A HREF="/ui/delete-item/1.html">delete-item 1</A></LI>
<LI><A HREF="/ui/delete-relation/1.html">delete-relation 1</A></LI>
<LI><A HREF="/ui/delete-tag/1.html">delete-tag 1</A></LI>
<LI><A HREF="/ui/read-comment/1.html">read-comment 1</A></LI>
<LI><A HREF="/ui/read-item/1.html">read-item 1</A></LI>
<LI><A HREF="/ui/read-relation/1.html">read-relation 1</A></LI>
<LI><A HREF="/ui/read-tag/1.html">read-tag 1</A></LI>
<LI><A HREF="/ui/update-comment/1.html">update-comment 1</A></LI>
<LI><A HREF="/ui/update-item/1.html">update-item 1</A></LI>
<LI><A HREF="/ui/update-relation/1.html">update-relation 1</A></LI>
<LI><A HREF="/ui/update-tag/1.html">update-tag 1</A></LI>
</UL>
<A NAME="minedocumentation" HREF="#minedocumentation">mine documentation</a>
<UL>
<LI><A HREF="/doc/">local</A></LI>
<LI><A HREF="#themineproject">project documentation</A></LI>
</UL>
</UL>
<A NAME="themineproject" HREF="#themineproject">the mine! project</a>
<UL>
<LI><A HREF="http://themineproject.org/index.php/about/">about</A></LI>
<LI><A HREF="http://themineproject.org/">home page and blog</A></LI>
<LI><A HREF="http://themineproject.org/index.php/feed/">rss feed (full)</A></LI>
<LI><A HREF="http://themineproject.org/index.php/the-mine-papers/">mine! concepts</A></LI>
</UL>
<A NAME="pyminesoftware" HREF="#pyminesoftware">pymine software</a>
<UL>
<LI><A HREF="http://code.google.com/p/pymine/">google code home page</A></LI>
<LI><A HREF="http://code.google.com/p/pymine/w/list">documentation wiki</A></LI>
<LI><A HREF="http://code.google.com/p/pymine/updates/list">updates and history</A></LI>
<LI><A HREF="http://code.google.com/p/pymine/issues/list">bugs and bug reporting</A></LI>
<LI><A HREF="http://code.google.com/p/pymine/source/checkout">subversion code download</A></LI>
</UL>
<A NAME="mineauthors" HREF="#mineauthors">mine! authors</a>
<UL>
<LI><A HREF="http://www.mediainfluencer.net/">adriana lukas, mine! inventor</A></LI>
<LI><A HREF="http://www.crypticide.com/dropsafe/">alec muffett, programmer / geek</A></LI>
</UL>
&copy; 2008-2009 Adriana Lukas &amp; Alec Muffett; <p/>
pymine is open source software distributed under the Apache 2.0 license, <p/>
please see the <A HREF="http://code.google.com/p/pymine/w/list">project home page</A> for details <p/>
<hr/> <p/>
