{% extends "base-api.html" %}

{% block title %}item listing{% endblock %}

{% block content %}
<DL>

{% for item in result %}

<DT>
{{ item.itemName }} ({{ item.itemType }})
<A HREF="/api/item/{{ item.itemId }}"><button>View</button></A>
<A HREF="read-item/{{ item.itemId }}.html"><button>Info</button></A>
<A HREF="update-item/{{ item.itemId }}.html"><button>Update</button></A>
<A HREF="delete-item/{{ item.itemId }}.html"><button>Delete</button></A>
<BR/>

<DD>
{{ item.itemDescription }}
</DD>

<P/

{% endfor %}

</DL>
{% endblock %}
