{% for item in result %}
<LI>itemCreated: {{ item.itemCreated }}</LI>
<LI>itemData: {{ item.itemData }}</LI>
<LI>itemDescription: {{ item.itemDescription }}</LI>
<LI>itemHideAfter: {{ item.itemHideAfter }}</LI>
<LI>itemHideBefore: {{ item.itemHideBefore }}</LI>
<LI>itemId: {{ item.itemId }}</LI>
<LI>itemLastModified: {{ item.itemLastModified }}</LI>
<LI>itemName: {{ item.itemName }}</LI>
<LI>itemStatus: {{ item.itemStatus }}</LI>
<LI>itemTags: {{ item.itemTags }}</LI>
<LI>itemType: {{ item.itemType }}</LI>
{% endfor %}
