{% extends "base/api-iterate.html" %}
{% block title %}comments listing{% endblock %}
{% block heading %}comments listing{% endblock %}

{% block per_hash %}
<div class="listcomment">

<h4>{{hash.commentTitle}}</h4>

<ul class="actions">
<li><a href="/ui/read/comment/{{hash.commentId}}.html"><button>info</button></a></li>
<li><a href="/ui/update/comment/{{hash.commentId}}.html"><button>edit</button></a></li>
<li><a href="/ui/delete/comment/{{hash.commentId}}.html"><button>delete</button></a></li>
<li><a href="/ui/read/relation/{{hash.commentRelationId}}.html"><button>relation {{hash.commentRelationId}} info</button></a> 
({{hash.commentRelationName}})</li>
<li><a href="/ui/read/item/{{hash.commentItemId}}.html"><button>item {{hash.commentItemId}} info</button></a>
({{hash.commentItemName}})</li>
<li><a href="/api/item/{{hash.commentItemId}}"><button>open item {{hash.commentItemId}}</button></a></li>
</ul>

{% if hash.commentBody %}
<p class="listdesc">
{{hash.commentBody}}
</p>
{% endif %}

<ul class="listmeta">
<LI>commentItemId: {{hash.commentItemId}}</LI>
<LI>commentItemName: {{hash.commentItemName}}</LI>
<LI>commentRelationId: {{hash.commentRelationId}}</LI>
<LI>commentRelationName: {{hash.commentRelationName}}</LI>
</ul>

</div>
{% endblock %}
