{% extends "base/api-iterate.html" %}

{% block title %}
comments{% ifnotequal itemId "0" %} for item {{itemId}}{% endifnotequal %}
{% endblock %}

{% block heading %}
comments{% ifnotequal itemId "0" %} for item {{itemId}}{% endifnotequal %}
{% endblock %}

{% block listing_per_hash %}
<div class="listcomment {% cycle 'odd' 'even' %}">

<h4>{{hash.commentTitle}}</h4>

<ul class="actions">
<li><a href="/ui/read/comment/{{hash.commentId}}.html">info</a></li>
<li><a href="/ui/update/comment/{{hash.commentId}}.html">edit</a></li>
<li><a href="/ui/delete/comment/{{hash.commentId}}.html">delete</a></li>
<li><a href="/ui/read/relation/{{hash.commentRelationId}}.html">info relation {{hash.commentRelationId}}</a></li>
<li><a href="/ui/read/item/{{hash.commentItemId}}.html">info item {{hash.commentItemId}}</a></li>
<li><a href="/api/item/{{hash.commentItemId}}">open item {{hash.commentItemId}}</a></li>
</ul>

{% if hash.commentBody %}
<p class="listdesc">
{{hash.commentBody}}
</p>
{% endif %}

<ul class="listmeta">
<li>relation name: {{hash.commentRelationName}}</li>
<li>item name: {{hash.commentItemName}}</li>
</ul>

</div>
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/comments.html" %}
{% include "sidebar/comment-search.html" %}
{% endblock %}
{% block nav_comments %}id=current{% endblock %}
