{% extends "base/api-iterate.html" %}

{% block title %}items listing{% endblock %}

{% block heading %}items listing{% endblock %}

{% block listing_per_hash %}
<div class="listitem {{hash.itemStatus}}">

<h4>{{hash.itemId}} | {{hash.itemName}}</h4>

{% include 'widget/action2-item.html' %}

{% if hash.itemDescription %}
<p class="listdesc">
{{hash.itemDescription|safe}}
</p>
{% endif %}

{% if hash.itemHasFile %}
rendering:<br/>
{% ifequal hash.itemType 'image/jpeg' %}
<center><IMG SRC='/pub/images/thumbnail.png' /></center>
{% else %}
{% ifequal hash.itemType 'image/gif' %}
<center><IMG SRC='/pub/images/thumbnail.png' /></center>
{% else %}
{% ifequal hash.itemType 'image/png' %}
<center><IMG SRC='/pub/images/thumbnail.png' /></center>
{% else %}
{% ifequal hash.itemType 'application/pdf' %}
<center><IMG SRC='/pub/images/thumbnail.png' /></center>
{% endifequal %}
{% endifequal %}
{% endifequal %}
{% endifequal %}
{% endif %}

<ul class="listmeta">
<li>id: {{hash.itemId}}</li>
<li>status: {{hash.itemStatus}}</li>
<li>tags: {{hash.itemTags}}</li>
<li>size: {{hash.itemSize}}</li>
<li>type: {{hash.itemType}}</li>
</ul>

</div>
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/items.html" %}
{% include "sidebar/item-search.html" %}
{% endblock %}
{% block nav_items %}id=current{% endblock %}
