{% extends "base/api-iterate.html" %}

{% block title %}relations listing{% endblock %}

{% block heading %}relations listing{% endblock %}

{% block listing_per_hash %}
<div class="listrelation {% cycle 'odd' 'even' %}">

<h4>{{hash.relationName}}</h4>

{% include 'widget/action2-relation.html' %}

{% if hash.relationDescription %}
<p class="listdesc">
{{hash.relationDescription|safe}}
</p>
{% endif %}

<ul class="listmeta">
<li>interests: {{hash.relationInterests}}</li>
<li>constraints: {{hash.relationFeedConstraints}}</li>
<li>version: {{hash.relationVersion}}</li>
</ul>

</div>
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/relations.html" %}
{% include "sidebar/relation-search.html" %}
{% endblock %}
{% block nav_relations %}id=current{% endblock %}
