{% extends "base/api-iterate.html" %}

{% block title %}tags listing{% endblock %}

{% block heading %}tags listing{% endblock %}

{% block context_sidebar %}
{% include "sidebar/tags.html" %}
{% endblock %}

{% block listing_per_hash %}
<div class="listtag {% cycle 'odd' 'even' %}">

<h4>{{hash.tagName}}</h4>

<ul class="actions">
<li><a href="/ui/read/tag/{{hash.tagId}}.html"><button>info</button></a></li>
<li><a href="/ui/update/tag/{{hash.tagId}}.html"><button>edit</button></a></li>
<li><a href="/ui/delete/tag/{{hash.tagId}}.html"><button>delete</button></a></li>
</ul>

{% if hash.tagDescription %}
<p class="listdesc">
{{hash.tagDescription}}
</p>
{% endif %}

<ul class="listmeta">
{% if hash.tagImplies %}
<li>implies: {{hash.tagImplies}}</li>
{% endif %}
<li>clouds: {{hash.tagCloud}}</li>
</ul>

</div>
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/tags.html" %}
{% endblock %}
