{% extends "base/api-iterate.html" %}
{% block title %}vurls listing{% endblock %}
{% block heading %}vurls listing{% endblock %}
{% block per_hash %}
{{hash.vurlId}}: '{{hash.vurlName}}'
<A HREF="/ui/read/vurl/{{hash.vurlId}}.html"><button>info</button></A>
<A HREF="/ui/update/vurl/{{hash.vurlId}}.html"><button>edit</button></A>
<A HREF="/ui/delete/vurl/{{hash.vurlId}}.html"><button>delete</button></A>
<A HREF="{{hash.vurlPathShort}}"><button>short</button></A>
<A HREF="{{hash.vurlPathLong}}"><button>long</button></A>
<A HREF="{{hash.vurlLink}}"><button>direct</button></A>
{% endblock %}
