{% extends "base/api-iterate.html" %}
{% block title %}comments listing{% endblock %}
{% block heading %}comments listing{% endblock %}

{% block per_hash %}
<div class="listcomment">

<h4>{{hash.commentTitle}}</h4>

<ul class="actions">
<li><a href="/ui/read/comment/{{hash.commentId}}.html"><button>info</button></a></li>
<li><a href="/ui/update/comment/{{hash.commentId}}.html"><button>edit</button></a></li>
<li><a href="/ui/delete/comment/{{hash.commentId}}.html"><button>delete</button></a></li>
<li><a href="/ui/read/item/{{hash.commentItem}}.html"><button>item {{hash.commentItem}} info</button></a></li>
<li><a href="/api/item/{{hash.commentItem}}"><button>open item {{hash.commentItem}}</button></a></li>
</ul>

{% if hash.commentBody %}
<p class="listdesc">
{{hash.commentBody}}
</p>
{% endif %}

<ul class="listmeta">
<LI>commentRelation: {{hash.commentRelation}}</LI>
<LI>commentItem: {{hash.commentItem}}</LI>
</ul>

</div>
{% endblock %}
