{% extends "base/api-result-multi.html" %}

{% block title %}feeds listing{% endblock %}

{% block content_heading %}feeds listing{% endblock %}

{% block listing_per_wrapper_dict %}
<div class="listfeed {% cycle 'odd' 'even' %}">

<h4>{{wrapper_dict.feed.feedName}}</h4>

{% include 'widget/action2-feed.html' %}

{% if wrapper_dict.feed.feedDescription %}
<p class="listdesc">
{{wrapper_dict.feed.feedDescription|safe}}
</p>
{% endif %}

<ul class="listmeta">
<li>interests: {{wrapper_dict.feed.feedInterests}}</li>
<li>constraints: {{wrapper_dict.feed.feedFeedConstraints}}</li>
<li>version: {{wrapper_dict.feed.feedVersion}}</li>
</ul>

</div>
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/feeds.html" %}
{% include "sidebar/feed-search.html" %}
{% endblock %}
{% block nav_feeds %}id=current{% endblock %}
