{% extends "base/api.html" %}

{% block title %}item listing{% endblock %}

{% block content %}
<DL>

{% for entry in result %}
<DT>
{{ entry.item.itemName }} ({{ entry.item.itemType }})
<A HREF="/api/item/{{ entry.item.itemId }}"><button>View</button></A>
<A HREF="read-item/{{ entry.item.itemId }}.html"><button>Info</button></A>
<A HREF="update-item/{{ entry.item.itemId }}.html"><button>Update</button></A>
<A HREF="delete-item/{{ entry.item.itemId }}.html"><button>Delete</button></A>
<BR/>
<DD>
{{ entry.item.itemDescription }}
</DD>
<P/>
{% endfor %}

</DL>
{% endblock %}
