{% extends "list/base.html" %}

{% block title %}FOOOOOO listing{% endblock %}

{% block heading %}FOOOOOO listing{% endblock %}

{% block entry %}
<div class="lheader">{{ entry.FOOOOOO.FOOOOOOName }}</div>

{% if entry.FOOOOOO.FOOOOOODescription %}
<div class="lbody"> description: {{ entry.FOOOOOO.FOOOOOODescription }} </div>
{% endif %}

<div class="lannotate"> 
{% if entry.FOOOOOO.FOOOOOOImplies %}
(implies: {{ entry.FOOOOOO.FOOOOOOImplies }})
{% endif %}
{% if entry.FOOOOOO.FOOOOOOCloud %}
(cloud: {{ entry.FOOOOOO.FOOOOOOCloud }})
{% endif %}
</div>
{% endblock %}
----------
{% extends "base/api.html" %}

{% block title %}item listing{% endblock %}

{% block content %}
<DL>

{% for entry in result %}
<DT>
{{ entry.item.itemName }} ({{ entry.item.itemType }})
<A HREF="/api/item/{{ entry.item.itemId }}"><button>View</button></A>
<A HREF="read-item/{{ entry.item.itemId }}.html"><button>Info</button></A>
<A HREF="/ui/list-comments/{{ entry.item.itemId }}.html"><button>Comments</button></A>
<A HREF="update-item/{{ entry.item.itemId }}.html"><button>Update</button></A>
<A HREF="delete-item/{{ entry.item.itemId }}.html"><button>Delete</button></A>
<BR/>
<DD>
{{ entry.item.itemDescription }}
</DD>
<P/>
{% endfor %}

</DL>
{% endblock %}
