{% extends "base/api-iterate.html" %}
{% block title %}items listing{% endblock %}
{% block heading %}items listing{% endblock %}

{% block per_hash %}
<div class="listitem">

<h4>{{hash.itemName}}</h4>

<ul class="actions">
<li><A HREF="/ui/read/item/{{hash.itemId}}.html"><button>info</button></A></li>
<li><A HREF="/api/item/{{hash.itemId}}"><button>view</button></A></li>
<li><A HREF="/ui/update/item/{{hash.itemId}}.html"><button>edit</button></A></li>
<li><A HREF="/ui/list/comments/{{hash.itemId}}.html"><button>comments</button></A></li>
<li><A HREF="/ui/delete/item/{{hash.itemId}}.html"><button>delete</button></A></li>
</ul>

{% if hash.itemDescription %}
<p class="listdesc">
{{hash.itemDescription}}
</p>
{% endif %}

<ul class="listmeta">
<li>id: {{hash.itemId}}</li>
<li>tags: {{hash.itemTags}}</li>
<li>size: {{hash.itemSize}}</li>
<li>type: {{hash.itemType}}</li>
</ul>

</div>
{% endblock %}
