{% extends "base/api-iterate.html" %}

{% block title %}relations listing{% endblock %}

{% block heading %}relations listing{% endblock %}

{% block listing_per_hash %}
<div class="listrelation {% cycle 'odd' 'even' %}">

<h4>{{hash.relationName}}</h4>

<ul class="actions">
<li><a href="{{hash.relationFeedUrl}}">feed</a></li>
<li><a href="/ui/read/relation/{{hash.relationId}}.html">info</a></li>
<li><a href="/ui/update/relation/{{hash.relationId}}.html">edit</a></li>
<li><a href="/ui/delete/relation/{{hash.relationId}}.html">delete</a></li>
</ul>

{% if hash.relationDescription %}
<p class="listdesc">
{{hash.relationDescription}}
</p>
{% endif %}

<ul class="listmeta">
<li>interests: {{hash.relationInterests}}</li>
<li>version: {{hash.relationVersion}}</li>
</ul>

</div>
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/relations.html" %}
{% include "sidebar/relation-search.html" %}
{% endblock %}
{% block nav_relations %}id=current{% endblock %}
