{% extends "base/api-iterate.html" %}

{% block title %}vurls listing{% endblock %}

{% block heading %}vurls listing{% endblock %}

{% block listing_per_hash %}
<div class="listvurl {% cycle 'odd' 'even' %}">

<h4>{{hash.vurlName}}</h4>

<ul class="actions">
<A HREF="/ui/read/vurl/{{hash.vurlId}}.html">info</A>
<A HREF="/ui/update/vurl/{{hash.vurlId}}.html">edit</A>
<A HREF="/ui/delete/vurl/{{hash.vurlId}}.html">delete</A>
<A HREF="{{hash.vurlPathShort}}">short url</A>
<A HREF="{{hash.vurlPathLong}}">named url</A>
<A HREF="{{hash.vurlLink}}">original url</A>
</ul>

<ul class="listmeta">
<li>short link: {{hash.vurlPathShort}}</li>
<li>named link: {{hash.vurlPathLong}}</li>
<li>original url: {{hash.vurlLink}}</li>
</ul>

</div>
{% endblock %}

{% block context_sidebar %}
{% include "sidebar/vurls.html" %}
{% include "sidebar/vurl-search.html" %}
{% endblock %}
{% block nav_vurls %}id=current{% endblock %}
