{% extends "list/base.html" %}

{% block title %}FOOOOOO listing{% endblock %}

{% block heading %}FOOOOOO listing{% endblock %}

{% block entry %}
<div class="lheader">{{ entry.FOOOOOO.FOOOOOOName }}</div>

{% if entry.FOOOOOO.FOOOOOODescription %}
<div class="lbody"> description: {{ entry.FOOOOOO.FOOOOOODescription }} </div>
{% endif %}

<div class="lannotate"> 
{% if entry.FOOOOOO.FOOOOOOImplies %}
(implies: {{ entry.FOOOOOO.FOOOOOOImplies }})
{% endif %}
{% if entry.FOOOOOO.FOOOOOOCloud %}
(cloud: {{ entry.FOOOOOO.FOOOOOOCloud }})
{% endif %}
</div>
{% endblock %}
----------
{% extends "base/api.html" %}

{% block title %}vurl listing{% endblock %}

{% block content %}
<DL>
{% for entry in result %}
<DT>
id: {{ entry.vurl.vurlId }}
key: {{ entry.vurl.vurlKey }}
name: {{ entry.vurl.vurlName }}
<A HREF="/get/i/{{entry.vurl.vurlId}}">(id {{ entry.vurl.vurlId }})</A>
<A HREF="/get/r/{{entry.vurl.vurlKey }}">(key {{ entry.vurl.vurlKey }})</A>
<A HREF="/get/v/{{entry.vurl.vurlName}}">(verbose {{ entry.vurl.vurlName }})</A>
</DT>
<DD>
{{ entry.vurl.vurlLink }}
</DD>
<P/>
{% endfor %}
</DL>
{% endblock %}


