{% extends "base/api.html" %}

{% block title %}vurl listing{% endblock %}

{% block content %}
<DL>
{% for entry in result %}
<DT>
id: {{ entry.vurl.vurlId }}
key: {{ entry.vurl.vurlKey }}
name: {{ entry.vurl.vurlName }}
<A HREF="/get/i/{{entry.vurl.vurlId}}">(id {{ entry.vurl.vurlId }})</A>
<A HREF="/get/r/{{entry.vurl.vurlKey }}">(key {{ entry.vurl.vurlKey }})</A>
<A HREF="/get/v/{{entry.vurl.vurlName}}">(verbose {{ entry.vurl.vurlName }})</A>
</DT>
<DD>
{{ entry.vurl.vurlLink }}
</DD>
<P/>
{% endfor %}
</DL>
{% endblock %}


