<ul class="actions">
<li><a href="/ui/read/comment/{{hash.comment.commentId}}.html">info</a></li>
<li><a href="/ui/update/comment/{{hash.comment.commentId}}.html">edit</a></li>
<li><a href="/ui/delete/comment/{{hash.comment.commentId}}.html">delete</a></li>
<li><a href="/ui/read/feed/{{hash.comment.commentFeedId}}.html">info feed {{hash.comment.commentFeedId}}</a></li>
<li><a href="/ui/read/item/{{hash.comment.commentItemId}}.html">info item {{hash.comment.commentItemId}}</a></li>
<li><a href="/api/data/{{hash.comment.commentItemId}}">open item {{hash.comment.commentItemId}}</a></li>
</ul>
