<ul class="actions">
<li><a href="/ui/read/comment/{{result.commentId}}.html">info</a></li>
<li><a href="/ui/update/comment/{{result.commentId}}.html">edit</a></li>
<li><a href="/ui/delete/comment/{{result.commentId}}.html">delete</a></li>
<li><a href="/ui/read/feed/{{result.commentFeedId}}.html">info feed {{result.commentFeedId}}</a></li>
<li><a href="/ui/read/item/{{result.commentItemId}}.html">info item {{result.commentItemId}}</a></li>
<li><a href="/api/item/{{result.commentItemId}}">open item {{result.commentItemId}}</a></li>
</ul>
