<div class="widget">
5 most recently modified comments: <A HREF="/ui/list/comments/0.html">[list all]</A>
{% for individual in result|slice:":5" %}
<ul>
{% for type, hash in individual.items %}
<li>
<A HREF="/ui/update/relation/{{hash.commentRelationId}}.html">{{hash.commentRelationName}}</A>
on
<A HREF="/ui/update/item/{{hash.commentItemId}}.html">{{hash.commentItemName|truncatewords:8}}</A>
|
<A HREF="/api/item/{{hash.commentItemId}}">view</A>
<br/>
<A HREF="/ui/update/comment/{{hash.commentId}}.html">{{hash.commentTitle}}</A>
|
<A HREF="/ui/update/comment/{{hash.commentId}}.html">{{hash.commentBody|removetags:"a p"|truncatewords:10}}</A>
</li>
{% endfor %}
</ul>
{% endfor %}
</div>
