<div class="widget">
{% include 'widget/tinymce.html' %}
<form method="POST" enctype="multipart/form-data" action="/api/relation.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/relations.html">

relation name:
<br/>
<input name="relationName" value="" size="33" />
<br/>

relation tags/interests: (ie: tags, space-separated, optional)
<br/>
<input name="relationInterests" value="" size="66">
<br/>
<input type="checkbox" name="auto_tag" checked> create any tags that don't already exist
<br/>

relation description: (optional)
<a href="javascript:toggleEditor('relationDescription');">(add/remove editor)</a>
<br/>
<textarea name="relationDescription" cols="66" rows="5"></textarea>
<br/>

relation feed-content restriction: (optional)
<br/>
<input name="relationFeedConstraints" value="" size="33" />
<br/>

<input type="submit" name="save" value="create relation" />
<input type="reset" name="reset" value="reset form" />
</form>
</div>
