<div class="widget">
<div class="annotation">item creator</div>
<!-- TinyMCE -->
<script type="text/javascript" src="/pub/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">tinyMCE.init({ mode : "textareas", theme : "simple"});</script>
<!-- /TinyMCE -->

<form method="post" enctype="multipart/form-data" action="/api/item.rdr">
<input type="hidden" name="redirect_success" value="/ui/create/item.html">

title:
<br/>
<input name="itemName" value="" size="66" />
<p/>

text:
<br/>
<!-- Gets replaced with TinyMCE, remember HTML in a textarea should be encoded -->
<textarea name="itemDescription" cols="80" rows="15">
</textarea>
<p/>

tags:
<br/>
<input name="itemTags" value="" size="66">
<p/>

file to attach: (optional)
<br/>
<input type="file" name="itemData">
<p/>

publication status:
<br/>
<input type="radio" name="itemStatus" value="private" /> private
<input type="radio" name="itemStatus" value="shared" /> shared
<input type="radio" name="itemStatus" value="public" checked /> public
<p>
<input type="submit" name="save" value="create item" />
<input type="reset" name="reset" value="reset form" />
</form>

</div>

