<DIV class="widget">
<DIV class="annotation">text item creator</DIV>
<!-- TinyMCE -->
<script type="text/javascript" src="/pub/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">tinyMCE.init({ mode : "textareas", theme : "simple" });</script>
<!-- /TinyMCE -->
<form method="post" action="http://tinymce.moxiecode.com/dump.php?example=true">
new text item title:
<br/>
<input id="name" name="itemName" size="66">
<p/>
new text item body:
<br/>
<textarea id="description" name="itemDescription" rows="15" cols="80">
write your text here...
</textarea>
<br />
<input type="submit" name="save" value="create a text item" />
<input type="reset" name="reset" value="reset form" />
</form>
</DIV>
