<div class="widget">
create relation:
<br/>
{% include 'widget/tinymce.html' %}
<form method="POST" enctype="multipart/form-data" action="/api/relation.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/relations.html">
relation name:
<br/>
<input name="relationName" value="" size="33" />
<p/>

description: (optional)
<br/>
<textarea name="relationDescription" cols="66" rows="5">
</textarea>
<p/>

relationship tags/interests: (ie: tags, space-separated, optional)
<br/>
<input name="relationInterests" value="" size="66">
<p/>

<input type="submit" name="save" value="create relation" />
<input type="reset" name="reset" value="reset form" />
</form>
</div>
