<div class="widget">
<!-- no tinymce here, the vurl text doesn't need it. -->
<form method="POST" enctype="multipart/form-data" action="/api/vurl/{{result.vurlId}}.rdr">
<input type="hidden" name="redirect_success" value="/ui/list/vurls.html">

long url:
<br/>
<textarea name="vurlLink" cols="66" rows="5">{{result.vurlLink}}</textarea>
<br/>

vurl name: (optional)
<br/>
<input name="vurlName" value="{{result.vurlName}}" size="33" />
<br/>

temporary redirect:
<br/>
<input type="checkbox" name="vurlIsTemporaryRedirect" {% if result.vurlIsTemporaryRedirect %}checked{% endif %} />
<br/>

<input type="submit" name="save" value="update vurl" />
<input type="reset" name="reset" value="reset form" />
</form>
</div>
