#envelope{display: block; background: #EBE0AF; opacity: 0.1; border-width: 0px 2px 2px; border-style: solid; border-color: white; position: absolute; top: 0px; right: 0px; z-index: 50; overflow: hidden; }

#envelope:hover {
  border-width: 0px 0px 2px 2px; width 200px; opacity: 1; border-color: black;
}


#left-columns{border-width: 0px 0px 0px 1px; border-color: #D3D3D3; border-style: solid;}


/* postmeta */
.success, .error {	
	padding: 5px; margin: 20px 15px 15px 10px;	
	border: 1px solid #D3D3D3;
	 color: #000
		
}
.success a, .error a { background: transparent; }
.success a:hover , .error a:hover { border: none; }

.success {background: #97F08F;}
.error {background: #FB505F;}

 /* =ListItem
----------------------------------------------------------------------------- */
.listitem {margin-left: 25px;}
.listitem h4 {font-size: 1.2em;}
.listitem ul.actions, .listitem ul.listmeta {list-style-type: none;}
.listitem ul.actions li {display: inline; padding-left: 2px;}
.listitem ul.listmeta {list-style-type: none; font-size: 0.7em;}

.listitem.private {background-color:#ffeeee}
.listitem.shared {background-color:#ffffdd}
.listitem.public {}

 /* =ListRelation
----------------------------------------------------------------------------- */
.listrelation {margin-left: 25px;}
.listrelation h4 {font-size: 1.2em;}
.listrelation ul.actions, .listrelation ul.listmeta {list-style-type: none;}
.listrelation ul.actions li {display: inline; padding-left: 2px;}
.listrelation ul.listmeta {list-style-type: none; font-size: 0.7em;}

 /* =ListComment
----------------------------------------------------------------------------- */
.listcomment {margin-left: 25px;}
.listcomment h4 {font-size: 1.2em;}
.listcomment ul.actions, .listcomment ul.listmeta {list-style-type: none;}
.listcomment ul.actions li {display: inline; padding-left: 2px;}
.listcomment ul.listmeta {list-style-type: none; font-size: 0.7em;}

 /* =ListTag
----------------------------------------------------------------------------- */
.listtag {margin-left: 25px;}
.listtag h4 {font-size: 1.2em;}
.listtag ul.actions, .listtag ul.listmeta {list-style-type: none;}
.listtag ul.actions li {display: inline; padding-left: 2px;}
.listtag ul.listmeta {list-style-type: none; font-size: 0.7em;}

 /* =ListVurl
----------------------------------------------------------------------------- */
.listvurl {margin-left: 25px;}
.listvurl h4 {font-size: 1.2em;}
.listvurl ul.actions, .listvurl ul.listmeta {list-style-type: none;}
.listvurl ul.actions li {display: inline; padding-left: 2px;}
.listvurl ul.listmeta {list-style-type: none; font-size: 0.7em;}
